.van-nav-bar__title{
  font-size:20px !important;
}
.balance{
  font-size: 40px  !important;
}

ul[data-v-428b4004] > * {
  font-size: medium;
}
.van-tabs__nav > *{
  font-size: medium;
} 
.van-list > *{
  font-size: medium;
}

.font-datatopup-small{
  font-size: small;
}

.item-content{
  font-size: small;
}

.item-content .item-content_money{
  font-size: medium;
}

.text-money{
  font-size: 20px;
  font-weight: 600;
  color: darkcyan;
}