.font-vip-small {
  font-size: 15px !important;
}

.IndexBox.site{
  font-size: smaller !important;
}

span[data-v-120d3d8b] .price-vip {
  
  font-size: 15px !important;
}
.vip-level {
  font-size: 25px !important;
}

.van-grid[data-v-120d3d8b] .van-grid-item{
  height:fit-content !important;
}



